	*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-decoration: none;
	list-style-type:none;
	}
	/*header and nav begins here */
	header{
	position:fixed;
	display:flex;
	justify-content:flex-end;
	background-color: snow;
	color: darkgreen;
	width:100%;
	height:50px;
	box-shadow:0px 5px 5px snow;
	}
	header h1{
	width:100%;
	padding: 10px;
	font-weight:400;
	margin-left: auto;
	}
	header h1 span{
	font-weight:bold;
	color: gold;
	}
	.nav {
	padding:5px;
	position:relative;
	display: inline-block;
	}
	.nav p{
	border:none;
	width: 100px;
	outline: none;
	padding:10px 15px;
	font-size: 18px;
	font-weight:400;
	text-align: right;
	}
	.hide {
	position: absolute;
	display:none;
	background-color: snow;
	width: 100px;
	padding: 0px 10px;
	}
	.nav:hover>ul{
	 display:block;
	}
	.hide li a{
	  color: black;
	  padding: 8px;
	  font-size: 16px;
	  font-weight:200;
	}
	/*header and nav ends here */
	/*main begins here*/
	.main{
	  margin-top: 50px;
	}
	.main h5{
	  text-align: center;
	  margin: 10px;
	}
	.search {
	  width:100%;
	}
	.search form {
	  padding: 5px;
	  border: none;
	  margin: 5px;
	  text-align: center;
	}
	.search form input{
	  border: 1px solid darkgreen;
	  outline: none;
	  padding:9px 28px;
	  border-radius: 5px;
	  background-color: snow;
	}
	.chioces{
	  margin:15px;
	  text-align: center;
	}
	.chioces p {
	  padding: 10px;
	  color: darkgreen;
	}
	.chioces h2{
	  padding: 5px;
	  font-size:20px;
	}
	.fiora-tips{
	  margin: 20px;
	  padding: 20px;
	  background-color: #c2fccb;
	  border-radius: 20px;
	}
	.fiora-tips h4 {
	  margin: 5px;
	  font-size: 16px;
	  font-weight: 400;
	}
	.fiora-tips h3{
	  padding: 5px;
	  font-size: 16px;
	  font-weight: 600;
	}
	.fiora-tips h3 a {
	  color :black;
	}
	.join{
	  padding: 20px;
	}
	#join-now{
	  margin: 5px;
	  padding: 10px;
	  background-color: darkgreen;
	  width:90px;
	  border-radius:5px ;
	}
	#join-now a {
	  color: white;
	}
	/*main ends here*/
	/*footer begins here */
.footer{
	display: block;
	padding-top:10px;
	background-color: black;
	color:white;
	height:100%;
	width:100%;
	text-align :center;
	font-weight:300;
	font-size: small;
}
.footer h1 {
	margin-right:auto;
	font-size:36px;
	font-weight:200;
	color:green;
	padding:10px;
}
.footer h1 span{
	color: yellow;
}
.footer ul {
    margin-top:20px;
    padding:20px 0px;
    list-style-type:none;
}
.footer ul li{
    padding:5px;
}
.footer ul li a{
	text-decoration: none;
	color:white;
}
.social{
	margin-top:10px;
}
.social p a img {
	width:50px;
	height:100%;
	border-radius:20px;
	padding:10px;
}
.copyright{
    margin-top:30px;
    background-color:#333;
    height:100%;
}
.copyright p{
   padding-top:20px;
   padding-bottom:5px;
}