*{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}
header{
  position: fixed;
  width: 100%;
  background-color: green;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 8px;
  color: white;
}
#sideNav{
  display: none;
  position: absolute;
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: snow;
  overflow-y: scroll;
}
#navButton{
  float: right;
}
main{
  margin: 50px 0;
  height: 100%;
}
#category{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 50px 0;
}
#category div{
  margin: 1px;
  width: 70px;
  height: 70px;
  text-align: center;
}
#categoryH{
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  color: darkgreen;
}
#newsFeed{
  display: none;
}
#newsFeed div{
  padding: 8px 0;
}
#newsFeed div img{
  width: 100%;
}
#Category {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 50px;
}
#Category th,td{
  font-size: 18px;
  text-transform: capitalize;
}
#Category td a{
  text-decoration: none;
  color: darkgreen;
}
#Category td img{
  width: 50%;
}
#Category thead,tbody{
  text-align: center;
}
h2{
  font-weight: 400;
  padding: 0 20px;
}
footer{
  position: relative;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 8px;
  background-color: green;
}
footer ul li{
  text-align: center;
  color: white;
  font-size: 20px;
}
.ff{
  font-size: small;
}